<!doctype html>
<html lang="et" ng-app="app">
<head>
    <meta charset="utf-8">
    <title>Ng1comp</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<div ng-controller="BoardCtrl as vm">

    {{ vm.state }}

    <br><br>

    <a href ng-click="vm.toggleAlarm()">Toggle alarm</a>

</div>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<!-- inject:js -->
<script src="app/app.js"></script>
<script src="app/board.ctrl.js"></script>
<script src="app/board.srv.js"></script>
<script src="app/switch.cmp.js"></script>
<!-- endinject -->


</body>
</html>
