
.switch {
    vertical-align: middle;
    text-decoration: none;
    background-size: 100% 100%;
    width: 1em;
    height: 1em;
    content: url('img/switch-off.svg');
}

.switch.on {
    content: url('img/switch-on.svg');
}

body {
    font-family: arial, sans-serif;
}
